root = true

[*.cs]
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1633.severity = none
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion