[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
**/bin/
**/obj/
.vs/
.idea/
*.iws
*.iml
*.ipr
*.user
*.pdb
*.pid
*.log
*.cache
.nuget/packages
.nupkg
/publish
/tmp
/out
**/*.secrets.user
.vscode/
*.log
*.scc
*.sql
*.sdf
*.mdf
*.ldf
TestResults/
*.com
*.dll
*.exe
*.exp
*.ilk
*.lib
*.obj
*.o
*.pbo
*.prj
*.sln.docstates
*.user